{{extend "user_admin_layout.html"}}

{{block menu}}
{{menu('admin')}}
{{end}}

{{block sub_menu}}
{{sub_menu(menu_items, 'user_admin', 'users')}}
{{end}}

{{block content_tool}}
{{if request.user.is_superuser or request.user.is_manager:}}
    <a class="btn btn-blue" href="/users/add">{{=_('Click here to add new user.')}}</a>
{{pass}}
{{end}}

{{block content_main}}
{{use "jquery", css_only=True}}
{{use "jqdatatable"}}
{{use "jsquery"}}

<div class="box">
<div class="query">
{{embed query_form}}
</div>
{{embed table}}
<div class="box-bottom">
<div id="pagination" class="right"></div>
<div class="left">{{=_('Total')}}:<font color="red">{{=info['total']}}</font> {{=_('Records')}}</div>
<script>
$(document).ready(function() {
    var query_string = $.query.set('pageno', 0).set('data', '').toString();
	$('#users_table').dataTable( {
		"bProcessing": true,
        "bServerSide": true,
		"sAjaxSource": "{{=request.path}}" + query_string,
        "sPaginationType": "full_numbers"
	} );
} );
</script>
</div>
</div>

{{end}}
