{{extend "user_admin_layout.html"}}

{{block menu}}
{{menu('admin')}}
{{end}}

{{block sub_menu}}
{{sub_menu(menu_items, 'user_admin', 'users')}}
{{end}}

{{block content_tool}}
{{if request.user.is_superuser or request.user.is_manager:}}
    <a class="btn btn-blue" href="/users/add">{{=_('Click here to add new user.')}}</a>
{{pass}}
{{end}}

{{block content_main}}
{{use "jquery"}}
{{use "jqpagination"}}
{{use "jsquery"}}

<div class="box">
<div class="query">
{{embed query_form}}
</div>
{{embed table}}
<div class="box-bottom">
<div id="pagination" class="right"></div>
<div class="left">{{=_('Total')}}:<font color="red">{{=info['total']}}</font> {{=_('Records')}}</div>
<script type="text/javascript">
var load_content = function(new_page_index){
    new_page_index = new_page_index||0;
//    var filter = $('#sel_type').find('a.ui-state-active').attr('rel');
//    var query_string = $.query.set('pageno', new_page_index).set('filter', filter).toString();
    var query_string = $.query.set('pageno', new_page_index).set('data', '').toString();
    $.ajax({
      type: 'POST',
      url: "{{=request.path}}" + query_string,
      dataType: 'json',
      success: function(data){
        $('#users_table').find('tbody').html(data.table);
        }
    });
}

function handlePaginationClick(new_page_index, pagination_container) {
        // This selects 20 elements from a content array
        load_content(new_page_index);
        return false;
    }

$(function(){
    $("#pagination").pagination({{=info['total']}}, {
            items_per_page:{{=info['rows_per_page']}},
            prev_text:"{{=_('Prev')}}",
            next_text:"{{=_('Next')}}",
            first_call:true,
            current_page:{{=info['pageno']}},
            callback:handlePaginationClick
        });
});
</script>
</div>
</div>

{{end}}
