{{use "jquery"}}
{{use "pnotify"}}
<script type="text/javascript">
$(function(){
    {{for category, message in get_flashed_messages():}}
        $.pnotify({
						//pnotify_title: 'Regular Notice',
						pnotify_history: false,
                        pnotify_text: "{{=message}}",
                        pnotify_type: "{{=category}}",
                        pnotify_before_open: function(pnotify){
                            // Position this notice in the center of the screen.
                            pnotify.css({
                                "top": 1,
                                "left": ($(window).width() / 2) - (pnotify.width() / 2)
                            });
                        }
					}
);
    {{pass}}
});
</script>
